* {
    margin: 0;
    padding: 0;
}


.w {
    width: 800px;
    margin: auto;
}

.nav {
    position: fixed;
    height: 50px;
    padding: 0;
    float: left;
    background-color: rgba(146, 210, 229, 0.7);
    width: 100%;
    text-align: center;
}

.nav ul {
    margin: 0px auto;
}

.nav li {
    list-style: none;
    float: left;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

.nav li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 0px 30px;
}

.box1 {
    background-image: url(../img/标题背景图.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    text-align: center;
    margin: 0px auto 100px;
}

.box1 .background {
    display: inline-block;
    height: 250px;
    background-color: rgba(146, 210, 229, 0.5);
    margin: 200px 0px 0px;
}

.box1 .background h1 {
    display: inline-block;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    height: 80px;
    line-height: 80px;
    text-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
    margin: 30px auto 0px;
}

.box1 .background p {
    display: inline-block;
    color: whitesmoke;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 15px auto 0px;
    padding: 0px;
    width: 1000px;
}

p {
    width: 800px;
    text-align: left;
    margin: 0px auto 30px;
    font-size: 18px;
    line-height: 30px;
}

.box2 {
    text-align: center;
    margin: 50px auto;
}

.h3 {
    text-align: center;
    height: 250px;
    background-image: url(../img/腰封裁剪.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px auto;
}

.title3 {
    font-size: 45px;
    font-weight: bold;
    line-height: 250px;

}

h4 {
    text-align: center;
    height: 100px;
    margin: 50px auto
}

.title4 {
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}

strong {
    color: white;
    font-weight: bolder;
    font-size: 22px;
}


.pic {
    text-align: center;
    margin-top: 50px;
}

.box3 {
    text-align: center;

}


.box4 {
    text-align: center;
    margin: 50px auto 0px;
    padding-top: 20px;
}

.box5 {
    height: 400px;
    text-align: center;
    margin-top: 0px;
}

.box6 {
    height: 400px;
    text-align: center;
    line-height: 400px;
}

.box6 img {
    height: 400px;
    width: 600px;
}

.box7 {
    height: 400px;
    text-align: center;
    line-height: 400px;
    margin: 30px 0px 100px;
}

.box8 {
    width: 600px;
    margin: 30px auto 0px;
}

.box9 {
    width: 600px;
    margin: 30px auto 0px;
}

.box10 {
    text-align: center;
}

.sample {
    display: inline-block;
    width: 550px;
}

.sample p {
    width: 550px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px;
    font-size: 16px;
    text-align: center;
}


.footer {
    text-align: left;
    background-color: rgba(146, 210, 229, 0.9);
    margin: 50px auto 0px;
    height: 300px;
    vertical-align: center;
    padding: 50px 0px;
}

.footer ul {
    float: left;
    margin: 0px 30px;
}

.footer li {
    height: 20px;
    margin-top: 15px;
    line-height: 20px;
    color: white;
    font-weight: bold;
}

.search {
    text-align: center;
}

.search li a {
    text-decoration: none;
}

video {
    width: 600px;
    height: 360px;
    margin: 50px auto 0px;
}

.video {
    text-align: center;
    width: 600px;
    height: 500px;
    margin: 0px auto;
}

h6 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}